{{#each assignments}}
<div class="assignment">
  <p><a href="/assignments/{{@key}}">{{@key}}</a></p>
  <p>Name: {{name}}</p>
  <p>Title: {{title}}</p>
  <p>Tags: {{tags}}</p>
  <p>Description: {{description}}</p>
</div>
{{/each}}
