<p>ID: {{id}}</p>
<p>Name: {{assignment.name}}</p>
<p>Title: {{assignment.title}}</p>
<p>Tags: {{#each assignment.tags}}
  <a href="/assignment/search/{{this}}"> {{this}}</a>
  {{/each}}
</p>
<p>Description: {{assignment.description}}</p>
